---
import type { CollectionEntry } from 'astro:content'
import type { Page } from 'astro'
import Paging from './paging.astro'

export interface Props {
  name: string
  page: Page<CollectionEntry<'blog'>>
}

// const { id } = Astro.params
const { name, page } = Astro.props
---

<div class='mt-4 flex items-center'>
  <a
    href={import.meta.env.BASE_URL + 'categories'}
    class='inline-block rounded-md bg-orange-600 px-2 py-1 text-base text-white hover:bg-pink-600 md:text-lg'
  >
    Categories
  </a>
  <a
    href={import.meta.env.BASE_URL + 'tags'}
    class='ml-4 inline-block rounded-md bg-orange-600 px-2 py-1 text-base text-white hover:bg-pink-600 md:text-lg'
  >
    Tags
  </a>
  <a
    href={import.meta.env.BASE_URL + 'authors'}
    class='ml-4 inline-block rounded-md bg-orange-600 px-2 py-1 text-base text-white hover:bg-pink-600 md:text-lg'
  >
    Authors
  </a>
</div>
<div class='mt-1 flex items-center'>
  <p>
    {page.size < page.total && <Paging page={page} name={Astro.url.pathname} />}
  </p>

  <!-- <p class='ml-4 italic text-white'>
    Articles {page.start + 1}-{page.end + 1} (total {page.total})
  </p> -->
</div>
